.gradle
build
bin
.classpath
.project
.settings/
.idea/
*.iml
node_modules/
*.der
src/**/*.pem
src/*/config.json
src/main/webapp/bower_components/
src/main/webapp/client/
src/main/webapp/examples/
src/main/webapp/server/
