{
    "enable_issuing": {{ enable_issuing }},
    "allow_unsigned_issue_requests": {{ allow_unsigned_issue_requests }},
    "allow_unsigned_verification_requests": {{ allow_unsigned_verification_requests }},
    "authorized_idps": {
        {{ authorized_idps }}
    },
    "authorized_sps": {
        {{ authorized_sps }}
    }
}
